* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 50vh;
}
button {
  width: 100px;
  height: 40px;
  padding:10px;
  text-align: center;
  position: relative;
}
#pro {
  display: block;
  position: absolute;
  top: 10px;
  left: 48%;
  font-size: 150px;
}
#frst {
  border: 2px solid black;
  margin: 5vh;
  background-color: red;
  cursor: pointer;
}
#scnd {
  cursor: pointer;
  margin: 5vh;
  background-color: red;
  border: 2px solid black;
}
#trd {
  cursor: pointer;
  margin: 5vh;
  background-color: red;
  border: 2px solid black;
}
